<div class="org-header-single" id="org-header-single">
  <div class="org-header-single__menu-bar">
      <div class="org-header-single__menu-bar__logo">          
              <a class="navbar-brand" href="#">
                  <img alt="GALERÍAS" class="logo-principal-negro" src="https://www.galerias.com/img/270317_MX.png" />
              </a>          
      </div>
      <div class="org-header-single__menu-bar__links">
          <ul class="list-complete" id="list-complete" data-mode="list-complete__list-hrt">             
                  <li class="list-complete-item">
                      <a href="/Nosotros">Centros Comerciales</a>
                  </li>
                  <li class="list-complete-item">
                      <a href="/NuestrasTiendas">Tiendas</a>
                  </li>
                  <li class="list-complete-item">
                      <a href="/Eventos">Eventos</a>
                  </li>
                  <li class="list-complete-item">
                      <a href="/Promociones">Promociones</a>
                  </li>
                  <li class="list-complete-item">
                      <a href="/GaleriasClub">Galerías Club</a>
                  </li>
                  <li class="list-complete-item">
                      <a  href="/GaleriasMagazine" onclick="">Galerías Magazine</a>
                  </li>
                  <li class="list-complete-item">
                      <a href="/GaleriasTV">Galerías TV</a>
                  </li>
                  <li class="list-complete-item">
                      <i class="material-icons fas fa-search" id="btn-search"></i>
                  </li>
          </ul>
      </div>
      <div class="org-header-single__menu-bar__login-button">
          <button class="login-button" id="login-button">Iniciar sesión</button>
      </div>
  </div>
  <div class="org-header-single__search-bar hidden-top-search-bar" id="top-search-bar">
      <div class="finder-left-icon" id="finder-left-icon">
          <div class="finder-left-icon__container">
              <div class="finder-left-icon__item-button"><i class="fas fa-search finder-left-icon__button" id="top-search-bar-icon"></i></div>
              <div class="finder-left-icon__item-text">
                  <input class="finder-left-icon__text show-top-search-bar" type="text" id="top-search-text" placeholder="Busca por centro comercial, tienda o producto">
              </div>
          </div>
      </div>
  </div>
</div>