<section class="footer-basic" id="footer-basic">
  <div class="footer-basic-social">
      <ul class="list-icon" id="list-icon">            
        <li class="list-icon-item" *ngFor="let foot1 of footerL1 | keyvalue">
            <a href="{{ foot1.value.url }}" target="_blank" id="{{ foot1.value.id }}"><i class="{{ foot1.value.icon }}"></i></a>
        </li>            
      </ul>
  </div>
  <div class="footer-basic-notify">
      <ul class="list-simple" id="list-simple" data-mode="list-simple__list-bold">
            <li class="list-simple-item" *ngFor="let foot2 of footerL2 | keyvalue">
                <a href="{{ foot2.value.url }}" id="{{ foot2.value.id }}">{{ foot2.value.text }}</a>
            </li>          
      </ul>
  </div>
  <div class="footer-basic-sections">
      <ul class="list-simple" id="list-simple" data-mode="list-simple__list-pipe">
           <li class="list-simple-item" *ngFor="let foot3 of footerL3 | keyvalue">
              <a href="{{ foot3.value.url }}" id="{{ foot3.value.id }}">{{ foot3.value.text }}</a>
            </li>
      </ul>
  </div> 
  <div class="footer-basic-text">
      <p>Al usar este sitio estás aceptando los <a href="/Terminos" target="_blank">Terminos y condiciones</a> así como el <a href="/AvisoDePrivacidad" target="_blank">Aviso de privacidad</a>. Cosulta aquí el <a href="/MapaDelSitio" target="_blank">Mapa del sitio</a>.</p>
      <p>Todos los derechos reservados, prohibida su reproducción parcial o total sin previa autorización por escrito del titular. Las marcas de productos o servicios son propiedad de sus respectivos titulares y son usadas aquí únicamente como referencia.</p>
  </div>
</section>