<section class="footer-basic" id="footer-basic">
  <div class="footer-basic-social">
      <ul class="list-icon" id="list-icon">
          <li class="list-icon-item"><a href="https://www.facebook.com/galeriasmx" target="_blank" onclick=""><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-icon-item"><a href="https://twitter.com/GaleriasContigo" target="_blank" onclick=""><i class="fab fa-twitter"></i></a></li>
          <li class="list-icon-item"><a href="https://www.instagram.com/galerias_mx/" target="_blank" id="rs_"><i class="fab fa-instagram"></i></a></li>
          <li class="list-icon-item"><a href="https://www.youtube.com/user/CanalGaleriasTV" target="_blank" id="rs_"><i class="fab fa-youtube"></i></a></li>
          <li class="list-icon-item"><a href="https://www.pinterest.es/galerias_mx/" target="_blank" id="rs_"><i class="fab fa-pinterest-p"></i></a></li>
      </ul>
  </div>
  <div class="footer-basic-notify">
      <ul class="list-simple" id="list-simple" data-mode="list-simple__list-bold">
          <li class="list-simple-item"><a href="https://portalinquilinos.galerias.com/irj/portal" target="_blank">Portal inmobiliario</a></li>
          <li class="list-simple-item"><a href="/RentaDeEspaciosYLocales" target="_blank">Renta de espacios</a></li>
          <li class="list-simple-item"><a href="/BolsaDeTrabajo" target="_blank">Bolsa de trabajo</a></li>
          <li class="list-simple-item"><a href="" target="_blank">Contacto</a></li>
      </ul>
  </div>
  <div class="footer-basic-sections">
      <ul class="list-simple" id="list-simple" data-mode="list-simple__list-pipe">
          <li class="list-simple-item"><a href="https://planetarynames.wr.usgs.gov/Page/Planets" target="_blank">Centros Comerciales</a></li>
          <li class="list-simple-item"><a href="https://planetarynames.wr.usgs.gov/Page/Planets" target="_blank">Tiendas</a></li>
          <li class="list-simple-item"><a href="https://planetarynames.wr.usgs.gov/Page/Planets" target="_blank">Eventos</a></li>
          <li class="list-simple-item"><a href="https://planetarynames.wr.usgs.gov/Page/Planets" target="_blank">Promociones</a></li>
          <li class="list-simple-item"><a href="https://planetarynames.wr.usgs.gov/Page/Planets" target="_blank">Galerías Club</a></li>
          <li class="list-simple-item"><a href="https://planetarynames.wr.usgs.gov/Page/Planets" target="_blank">Galerías Magazine</a></li>
          <li class="list-simple-item"><a href="https://planetarynames.wr.usgs.gov/Page/Planets" target="_blank">Galerías TV</a></li>
      </ul>
  </div> 
  <div class="footer-basic-text">
      <p>Al usar este sitio estás aceptando los <a href="/Terminos" target="_blank">Terminos y condiciones</a> así como el <a href="/AvisoDePrivacidad" target="_blank">Aviso de privacidad</a>. Cosulta aquí el <a href="/MapaDelSitio" target="_blank">Mapa del sitio</a>.</p>
      <p>Todos los derechos reservados, prohibida su reproducción parcial o total sin previa autorización por escrito del titular. Las marcas de productos o servicios son propiedad de sus respectivos titulares y son usadas aquí únicamente como referencia.</p>
  </div>
</section>