    <!-- SECCION GRID DEL NUEVO DISEÑO -->
    <div class="mosaic-full" id="mosaic-full" data-mode="mosaic-full__adaptative">
      <div class="mosaic-full__item-1"><app-header></app-header></div>
      <div class="mosaic-full__item-2"> <app-main-banner></app-main-banner></div>
      <!-- MOSAICO CENTROS COMERCIALES -->
      <div class="section-title">
          <label class="atom-label-top" data-mode="atom-label-top__subtitle">Localiza tu Centro Comercial más cercano</label>
      </div>
      <div class="mosaic-full__item-3"><app-mosaic-cc></app-mosaic-cc></div>
      <!-- NOVEDADES -->
      <div class="section-title">
          <label class="atom-label-top" data-mode="atom-label-top__title">Novedades</label>
          <hr class="atom-label-top-hr">
      </div>
      <div class="mosaic-full__item-4"><app-grid-novedades></app-grid-novedades></div>
      <!-- EVENTOS -->
      <div class="section-title">
          <label class="atom-label-top" data-mode="atom-label-top__title">Eventos</label>
          <hr class="atom-label-top-hr">
      </div>
      <div class="mosaic-full__item-5"> <app-carousel-eventos></app-carousel-eventos></div>
      <!-- PROMOCIONES -->
      <div class="section-title">
          <label class="atom-label-top" data-mode="atom-label-top__title">Promociones</label>
          <hr class="atom-label-top-hr">
      </div>
      <div class="mosaic-full__item-6"><app-carousel-promos></app-carousel-promos></div>
      <!-- COMUNIDAD GALERIASS -->
      <div class="section-title">
          <label class="atom-label-top" data-mode="atom-label-top__title">Comunidad Galerías</label>
          <hr class="atom-label-top-hr">
      </div>
      <div class="mosaic-full__item-7"> <app-carousel-comunidad></app-carousel-comunidad></div>

      <div class="mosaic-full__item-8"> <app-footer></app-footer></div>
  </div>