
<div class="cardGroup">

  <div class="cardS cardSGrupo">
      <div class="cardDescripcion cardGrupoDesc">
          <div class="icon fas fa-utensils cardIcon"></div>
          <div class="cardText">Los mejores restaurantes</div>
      </div>
      <div class="cardBotom">Para todos los gustos</div>
  </div>

  <div class="cardS cardSGrupo">
      <div class="cardDescripcion cardGrupoDesc">
          <div class="icon fas fa-tshirt cardIcon"></div>
          <div class="cardText">Opciones en marcas y estilos</div>
      </div>
      <div class="cardBotom">Lo último en moda</div>
  </div>

  <div class="cardS cardSGrupo">
      <div class="cardDescripcion cardGrupoDesc">
          <div class="icon fas fa-taxi cardIcon"></div>
          <div class="cardText">Servicio de Taxi <br>(hasta las 11:00pm)</div>
      </div>
      <div class="cardBotom">Super Seguros</div>
  </div>

  <div class="cardS cardSGrupo">
      <div class="cardDescripcion cardGrupoDesc">
          <div class="icon fas fa-wifi cardIcon"></div>
          <div class="cardText">Internet Gratis</div>
      </div>
      <div class="cardBotom">No olvides registrar tu visita</div>
  </div>

  <div class="cardS cardSGrupo">
      <div class="cardDescripcion cardGrupoDesc">
          <div class="icon far fa-question-circle cardIcon"></div>
          <div class="cardText">Módulo de atención y servicios</div>
      </div>
      <div class="cardBotom">Estamos para servirte</div>
  </div>
</div>


