<article class="carousel" id="carousel" data-mode="carousel__100">
  <ul class="carousel__container" id="carousel__container">
      <li class="carousel__container-item">            
          <div class="card-image" id="card-image">
              <figure class="card-image-media"><img src="~/img/MosCC/mosNov_3.jpg"></figure>
              <p class="card-image-section">Politics</p>
              <h3 class="card-image-title">
                  <a>
                      FIBA 3X3 Woeld tour
                  </a>
              </h3>
              <time class="card-image-time">updated 37 minutes ago</time>
          </div>
      </li>
      <li class="carousel__container-item">
          <div class="card-image" id="card-image">
              <figure class="card-image-media"><img src="~/img/MosCC/mosNov_2.jpg"></figure>
              <p class="card-image-section">Politics</p>
              <h3 class="card-image-title">
                  <a>El arte de ser Mexicano</a>
              </h3>
              <time class="card-image-time">updated 37 minutes ago</time>
          </div>
      </li>
      <li class="carousel__container-item">
          <div class="card-image" id="card-image">
              <figure class="card-image-media"><img src="~/img/MosCC/mosNov_4.jpg"></figure>
              <p class="card-image-section">Politics</p>
              <h3 class="card-image-title">
                  <a>El arte de ser Mexicano</a>
              </h3>
              <time class="card-image-time">updated 37 minutes ago</time>
          </div>
      </li>
      <li class="carousel__container-item">
          <div class="card-image" id="card-image">
              <figure class="card-image-media"><img src="~/img/MosCC/mosNov_2.jpg"></figure>
              <p class="card-image-section">Politics</p>
              <h3 class="card-image-title">
                  <a>El arte de ser Mexicano</a>
              </h3>
              <time class="card-image-time">updated 37 minutes ago</time>
          </div>
      </li>
      <li class="carousel__container-item">
          <div class="card-image" id="card-image">
              <figure class="card-image-media"><img src="../images/magazinePicture.png"></figure>
              <p class="card-image-section">Politics</p>
              <h3 class="card-image-title">
                  <a>El arte de ser Mexicano</a>
              </h3>
              <time class="card-image-time">updated 37 minutes ago</time>
          </div>
      </li>
      <li class="carousel__container-item">
          <div class="card-image" id="card-image">
              <figure class="card-image-media"><img src="../images/magazinePicture.png"></figure>
              <p class="card-image-section">Politics</p>
              <h3 class="card-image-title">
                  <a>El arte de ser Mexicano</a>
              </h3>
              <time class="card-image-time">updated 37 minutes ago</time>
          </div>
      </li>
  </ul>
  <button class="prevBtnCarousel" id="carousel__prev"></button>
  <button class="nextBtnCarousel" id="carousel__next"></button>
</article>